<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
  </script>
  </head>
  <body>
    <script>
      var is_first = false;
      var is_last = false;
    </script>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits"> <a href="/learn-python/">トップページ</a></span>&nbsp;
        <span class="site-footer-credits"> <a id='prev-page'>前のページ</a></span>&nbsp;
        <span class="site-footer-credits"> <a id='next-page'>次のページ</a></span>


      </footer>
    </main>

    <script>
      const prevPageTag = document.getElementById('prev-page');
      const nextPageTag = document.getElementById('next-page');

      var nextPath = location.pathname.split('/');
      nextPath[nextPath.length -1 ] = Number(nextPath[nextPath.length-1]) + 1;
      nextPath = nextPath.join('/');

      var prevPath = location.pathname.split('/');
      prevPath[prevPath.length -1 ] = Number(prevPath[prevPath.length-1]) - 1;
      prevPath = prevPath.join('/');

      if (!is_last) {
        nextPageTag.href = nextPath;
      } else {
        nextPageTag.remove();
      }
      
      if (!is_first) {
        prevPageTag.href = prevPath;
      } else {
        prevPageTag.remove();
      }

    </script>

    <script>
      history.pushState(null, null, null);

      window.addEventListener("popstate", event => {
        const hasConfirmed = confirm('ソースコードを破棄して、戻りますか？');

        if (!hasConfirmed)
          history.pushState(null, null, null);
        else
          location.href = event.target.prevPath;
      });

    </script>

    <style>
      iframe{
        height: 600px;
        width: 100%;
        border: none;
      }
    </style>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
